.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.foote-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-left,
.footer-right,
.footer-center {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}

.footer-right h3,
.footer-center h3 {
  color: white;
}

.footer-left li,
.footer-right li,
.footer-center li {
 list-style-type: none;
 margin-bottom: 10px;
}

.footer-social-icon img{
    width: 40px;
    margin-right: 15px;
}

.footer-logo{
    width: 200px;
}